<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Workout</title>
    <link href="lib/dp-light.css" rel="stylesheet">
    <script defer src="lib/datepicker.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <form action="/create_Workout" method="POST">
            <div class="form-group">
              <lable for="workout">Workout:</lable>
                <select name="workout" id="workout" class='form-control' required>
                <option value="Push">Push</option>
                <option value="Pull">Pull</option>
                <option value="Leg">Leg</option>
                </select>
            </div>

            <div class="form-group">
              <lable for="exercise">Exercise:</lable>
              <input type="text" class="form-control" name="exercise" id="exercise">
            </div>

            <div class="form-group">
              <lable for="repetitions">Repetitions:</lable>
              <input type="number" class="form-control" name="repetitions" id="repetitions">
            </div>
            
            <div class="form-group">
              <lable for="weight">Weight:</lable>
              <input type="number" class="form-control" id="weight" name="weight">
            </div>

            <button type="submit" name="submit" value="submit" class="btn btn-success">Send</button>
            <button type="reset" name="reset" value="reset" class="btn btn-danger">Clear</button>
        </form>
    </div>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>